/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    display: flex;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Main content styles */
main {
    margin: 20px 0;
}

section {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 100px;
}
