* {
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(31, 31, 31);
}

body {
    font-family: Arial, sans-serif;
    background-image: url('assets/carros.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
}

main {
    margin: 20px 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight:bold;
}

nav ul {
    display: flex;
    gap: 28px;
    font-size: 13px;
}

ul {
    list-style-type: none;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
}

.logo {
    width: 120px;
}

.icons {
    display: flex;
    gap: 13px;
}

.icons img {
    width: 30px;
}


main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
}

.conteudo h1 {
    font-size: 40px;
}

.conteudo h2 {
    font-weight: 100;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 200px;
    align-items: center;
    margin-top: 300px;
}

.buttons * {
    font-size: 13px;
    padding: 10px 90px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.dark {
    background-color: rgb(31, 31, 31);
    color: white;
}